<%= form_with(model: @exchange_setting, local: true) do |form| %>
  <%= render "shared/error_messages" %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form.hidden_field :user_id, value: current_user.id %>

      <%= form.label :base_currency %>
      <%= form.collection_select :base_currency_id, SupportedCurrency.all, :id, :currency_code, { prompt: "Please select the base currency" } %>
      
      <%= form.label :target_currency %>
      <%= form.collection_select :target_currency_id, SupportedCurrency.all, :id, :currency_code, { prompt: "Please select the target currency" } %>

      <%= form.label :amount %>
      <%= form.number_field :amount, id: :amount, min: 0.01 %>

      <%= form.label :period %>
      <%= form.number_field :period, id: :period, in: 1..250, step: 1 %>
      
      <%= form.submit class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
