<% provide(:title) %>

<div class="center jumbotron">
  <h2>
    Your exchange settings
  </h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        <td>From currency</td>
        <td>To currency</td>
        <td>Exchange amount</td>
        <td>Prediction period</td>
        <td>Created date</td>
      </th>
    </tr>
  </thead>

  <tbody>
    <% count = 1 %>
    <% @exchange_settings.each do |exchange_setting| %>
      <tr>
        <td><%= link_to "#{count}. prediction", "#" %></td>
        <td><%= SupportedCurrency.find(exchange_setting.base_currency_id).currency_code %></td>
        <td><%= SupportedCurrency.find(exchange_setting.target_currency_id).currency_code %></td>
        <td><%= exchange_setting.amount %></td>
        <td><%= exchange_setting.period %></td>
        <td><%= exchange_setting.created_at.to_date %></td>
        <td><%= link_to "Edit", edit_exchange_setting_path(exchange_setting) %></td>
        <td><%= link_to "Destroy", exchange_setting, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
      <% count = count + 1 %>
    <% end %>
  </tbody>
</table>

<%= render "shared/error_messages" %>

<%= link_to "Setup a new prediction", new_exchange_setting_path %>
